/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');


/*///////////////////////////////////////////*

/*reseteo de CSS*/
* {
    margin: 0;
    padding: 0;
}

/*///////////////////////////////////////////*

/* imagen de fono para index */
.fondo {
    background-image: url(/assets/images/fondo-index.jpg);
}

/*///////////////////////////////////////////*

/* iconos con hover para index */
.link {
    width: 5em;
    height: 5em;
    position: relative;
    display: inline-block;
}
    
.link .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
    
.link:hover .img-top {
    display: inline;
}

/*///////////////////////////////////////////*

/* Fonts para index - Generales */
.font-index {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #A06980;
    padding-top: 5px;
}

/*///////////////////////////////////////////*

/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background: #F4E9E9;
    position: static;
    width: 1486px;
    height: 100px;
    left: 0px;
    top: 701.5px;
}

.footer-font {
    position: static;
    width: 369px;
    height: 22px;
    left: 0px;
    top: 17.33px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    color: #293845;
}