/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/*reseteo de CSS*/
* {
    margin: 0;
    padding: 0;
}

/*///////////////////////////////////////////
* INDEX
///////////////////////////////////////////*/

/* imagen de fono para index */
.fondo {
    background-image: url(/assets/images/fondo-index.jpg);
    position: relative;
}

/*///////////////////////////////////////////*

/* iconos con hover para index */
.link {
    width: 5em;
    height: 5em;
    position: relative;
    display: inline-block;
}
    
.link .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
    
.link:hover .img-top {
    display: inline;
}

/* logo animado para index */
.gif {
    position: absolute;
}

/*///////////////////////////////////////////*/

/* Fonts para index - Generales */
.font-index {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #A06980;
    padding-top: 5px;
}

/*///////////////////////////////////////////
* FOOTER
///////////////////////////////////////////*/

.footer {
    padding: 50px;
    background: #F4E9E9;
    align-content: center;
}

/*///////////////////////////////////////////*/

.footer-font {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #293845;
    align-content: center;
}

/*///////////////////////////////////////////*/

/* iconos con hover para footer */
.footer-icons {
    position: relative;
    display: inline-block;
}
    
.footer-icons .footer-icons-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
    
.footer-icons:hover .footer-icons-top {
    display: inline;
}

/*///////////////////////////////////////////*/

