/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
/* para usar cuando tengamos texto
font-family: 'Nunito', sans-serif;
font-family: 'Inter', sans-serif;
*/

/*reseteo de CSS*/
* {
    margin: 0;
    padding: 0;
}


/* imagen de fono para index */
.fondo {
    background-image: url(/assets/images/fondo-index.jpg);
}


.iconos {
    background-color: royalblue;
    position: relative;
    z-index: 1;
}

/* Rollover Image */
.figure {
    position: relative;
}

.figure img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.figure:hover img.image-hover {
    opacity: 1;
}