/* imagen de fono para index */
.fondo {
    background-image: url(../assets/images/fondo-index.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

  
/* iconos con hover para index */ 
.link {
    width: 5em;
    height: 5em;
    position: relative;
    display: inline-block;
}
  
.link .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
  
.link:hover .img-top {
    display: inline;
}
  
/* logo animado para index */
.gif {
    position: absolute;
}
  

/* Fonts para index - Generales */
.font-index {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #A06980;
    padding-top: 5px;
}