.banner {
    background-image: url(../../assets/images/Cuaderno1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35rem;
    width: 100%;
}